# Ignorar arquivos de configuração sensíveis
.streamlit/secrets.toml

# Ignorar caches do Python
__pycache__/
*.pyc

# Ignorar bancos de dados locais
clientes.db

# Ignorar outros arquivos sensíveis ou específicos
files/pedidos.csv